#slider {
    width: 345px;
    height: 530px;
    position: absolute;
    overflow: hidden;
    margin-left: 600px;
    margin-top: -170px;
    background-position: center;
}

    #slider img {
        position: absolute;
        top: 0;
        left: 0;
    }

#prev, #next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 250px;
    height: 50px;
    background-color: gray;
    color: white;
    border: none;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
